.modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
}

.modal__form label {
    font-size: 1.7rem;
    font-weight: 500;
}

.modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    background-color: beige;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: gray;
}

.btn--text {
    display: inline-block;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: black;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}